.content {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: inherit;
    margin: 5px;
    padding: 50px;
}
.content .item {
    position: relative;
    width: 100%;
    height: 20%;
    padding: 25px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
}
.content .productPrice{
    position: absolute;
    top: 50%;
    transform: translate(0,  -50%);
    font-size: 24px;
}